@model webWS.Models.Users

<h1>Login: </h1>
<form method="post">
    <input asp-for="email" type="text" placeholder="Email ..." />
    <input asp-for="password" type="password" placeholder="Password ..." />
    <button type="submit" >Login</button>
</form>